tpms-web/.classpath
*.project
tpms-web/.settings/.jsdtscope
*.prefs
tpms-web/.settings/org.eclipse.wst.common.component
tpms-web/.settings/org.eclipse.wst.common.project.facet.core.xml
*.container
tpms-web/.settings/org.eclipse.wst.jsdt.ui.superType.name